/* Asegura que el navbar esté siempre debajo del modal */
.navbar {
    z-index: 1020; /* Nivel por debajo del modal */
}

/* Asegura que el modal siempre esté encima */
.modal {
    z-index: 1050 !important; /* Bootstrap usa este z-index para los modales */
}

body {
    font-family: 'Lora', serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
}

.card {
    transition: transform 0.3s, box-shadow 0.3s;
    border-radius: 8px;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

.card-title {
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.card-text {
    margin-bottom: 10px;
}

.modal-content {
    border-radius: 10px;
}

.text-danger {
    font-size: 1.5rem;
    font-weight: bold;
}
