<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" xmlns:th="http://www.thymeleaf.org">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <title>Clientes</title>
</head>
<body>
       <!-- Menu de navegacion -->
   <nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Administración</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar" aria-controls="collapsibleNavbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- Links de navegacion -->
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" th:href="@{/empleados}">Control de Empleados</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/productos}">Control de Productos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/clientes}">Control de Clientes</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/login}" style="color: red;">Salir</a>
                </li>
            </ul>
        </div>
    </div>
    </nav>

    <!-- Contenido de la pagina Lista de Clientes-->
   <div class="container">
        <div class="row">
            <h1 class="text-center my-4">Lista de Clientes</h1>
        </div>
        <!-- Boton para agregar empleado 
        <div class="row mb-4">
            <div class="col-md-12">
                <a th:href="@{/clientes/nuevo}" class="btn btn-primary d-block">
                    <i class="fas fa-user-plus me-2"></i>Agregar Cliente
                </a>
            </div>
        </div>-->

        <!-- Tabla de Empleados -->
       <table class="table table-striped table-bordered">
        <thead class="table-dark">
            <tr>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>DNI</th>
                <th>Correo</th>
                <th>Telefono</th>
                <th>Direccion</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="cliente : ${clientes}">
                <td th:text="${cliente.nombres}">Nombre</td>
                <td th:text="${cliente.apellidos}">Apellido</td>
                <td th:text="${cliente.dni}">DNI</td>
                <td th:text="${cliente.email}">Correo</td>
                <td th:text="${cliente.telefono}">Telefono</td>
                <td th:text="${cliente.direccion}">Direccion</td>
                <td>
                    <!--<a th:href="@{/clientes/editar/{id}(id=${cliente.id})}" class="btn btn-info">Editar</a> -->

                    <a th:href="@{/clientes/{id}(id=${cliente.id})}" class="btn btn-danger">
                        <i class="fas fa-trash"></i> Eliminar
                    </a>
                </td>
            </tr>
        </tbody>
      </table>

    </div>
</body>
</html>